$mainBGColor: #262626;
$mainActiveColor: #b56349;
$lineColor: #818181;
$footerColor: #111111;
$showMenuTopColor: #3f372e;
$bannerCircleBorderColor: #974d16;
$almostBlackColor: #141414;

$containerMarginXL: 120px;
